<footer class="text-center " style="background-color: #e8f0ff; margin-top: -4rem !important;">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Links -->
    <div class="mt-5">
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5">
        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="#" class=" bounce-up animation-element">About</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a [routerLink]="['/contact']"  class=" bounce-up animation-element">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a [routerLink]="['/privacy-policy']" class=" bounce-up animation-element">Privacy Policy</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a [routerLink]="['/terms-conditions']" class=" bounce-up animation-element">Terms</a>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
    <!-- Section: Links -->

    <hr class="my-5" />

    <!-- Section: Social -->
    <div class="text-center mb-4">
      <a href="#" class=" me-4">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="#" class=" me-4">
        <i class="bi bi-twitter-x"></i>
      </a>
      <a href="#" class=" me-4">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="#" class=" me-4">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="#" class=" me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Section: Social -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1); font-size: var(--font-size-sm)">© {{ currentYear }} Copyright
    <a class="" [routerLink]="['/']">Round Money</a>
  </div>
</footer>
