<section id="hero-section" class="individuals">
  <div class="grid-box">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>&nbsp;
        <li class="breadcrumb-item active" aria-current="page">Governments</li>
      </ol>
    </nav>
    <h3 class="section-title bounce-up animation-element">Round for Governments.</h3>
    <p class="text-center bounce-up animation-element">Governments gain transparency and save costs when they switch government to citizen disbursements to RoundMoney</p>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h3 class="section-title text-center bounce-up animation-element">Round in Governance</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title bounce-up animation-element">Engage</h3>
          <p class="bounce-up animation-element">Learn about Round and how it can help governments and institutions tackle problems</p>

          <div class="info-card text-center blue-bg bounce-up animation-element">
            <h3 class="section-title">01</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-b">
          <h3 class="section-title bounce-up animation-element">Integrate</h3>
          <p class="bounce-up animation-element">Connect your existing infrastructure and enable Round to replace old processes.</p>

          <div class="info-card text-center grey-bg">
            <h3 class="section-title">02</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title bounce-up animation-element">Deploy</h3>
          <p class="bounce-up animation-element">Replace broken and insecure fiat processes with immutable RoundMoney transactions </p>

          <div class="info-card text-center blue-bg bounce-up animation-element">
            <h3 class="section-title">03</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="open-account">
  <div class="container">
    <div class="col-md-12">
      <div class="open-account-card">
        <div class="grid-box p-4 text-start">
          <h3 class="section-title text-white gvt-title bounce-up animation-element">Create liquidity</h3>
          <p class="bounce-up animation-element">Issue RoundMoney in lieu of cash. By employing Vow’s technology, fiat expenditures can be saved and deployed in other essential programs, infrastructure projects or debt repayments.</p>

          <div class="app-store-links bounce-up animation-element">
            <a href="#" class="apple-app-store-link">
              <i class="bi bi-apple"></i>
            </a>
            <a href="#" class="google-playstore-link">
              <i class="bi bi-android2"></i>
            </a>
            <p>Get the App</p>
          </div>
        </div>
        <div class="grid-box box-two bounce-up animation-element">
          <img src="images/slanted.png" alt="thumbnail">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h3 class="section-title text-center bounce-up animation-element">Oversight, efficiency and data.</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card card-a">
          <p class="bounce-up animation-element">Government to citizen payments</p>

          <div class="info-card text-center blue-bg bounce-up animation-element">
            <img src="images/save-money.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-b">
          <p class="bounce-up animation-element">Oversight of funds distributions</p>

          <div class="info-card text-center bounce-up animation-element">
            <img src="images/eyes.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-a">
          <p class="bounce-up animation-element">Access to data for policy decisions</p>

          <div class="info-card text-center blue-bg bounce-up animation-element">
            <img src="images/cloud.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
