<section id="hero-section" class="individuals">
  <div class="grid-box px-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>&nbsp;
        <li class="breadcrumb-item active" aria-current="page">Merchants</li>
      </ol>
    </nav>
    <h3 class="section-title">Empowering Communities through Collective Financial Growth</h3>
    <p class="text-center">Round emerges from a profound recognition of the potential to uplift communities.
      By harnessing the power of collective savings and rewarding integrity, we are dedicated to improving the
      quality of life for millions involved in various saving schemes, such as burial societies, community saving
      groups, and property funds.</p>
  </div>
</section>

<section class="section-padding">
  <div class="container">
    <h3 class="section-title text-center bounce-up animation-element">Empowering Millions through Innovation</h3>
    <p class="text-center mx-auto mb-5 bounce-up animation-element">Cooperatives are for building solidarity economies based on community and trust. Switching your pool of savings to RoundMoney brings a solid and secure system to your savings.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title bounce-up animation-element">Solidarity</h3>
          <p class="bounce-up animation-element">No bank charges, good interest, no centralized controls. It is our Money.</p>

          <div class="info-card text-center blue-bg bounce-up animation-element">
            <h3 class="section-title">01</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-b">
          <h3 class="section-title bounce-up animation-element">Financial Inclusion</h3>
          <p class="bounce-up animation-element">Your integrity is your collateral. Your integrity points gained through
            your loyalty to others and honoring your repayments to others across
            cooperatives determine your access to finance.</p>

          <div class="info-card text-center grey-bg bounce-up animation-element">
            <h3 class="section-title">02</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title bounce-up animation-element">Wealth Creation</h3>
          <p class="bounce-up animation-element">You control your money through RoundMoney. Financial decision making is yours. You determine your wealth creation streams.</p>

          <div class="info-card text-center blue-bg bounce-up animation-element">
            <h3 class="section-title">03</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="open-account">
  <div class="container">
    <div class="col-md-6 mx-auto">
      <h4 class="ms-0 bounce-up animation-element">Open an account with us today and enjoy the convenience of out innovation.</h4>
    </div>
    <div class="col-md-12">
      <div class="open-account-card home-page">
        <div class="grid-box p-4 text-start">
          <h3 class="section-title text-white bounce-up animation-element">OPEN A USD ACCOUNT FOR FREE</h3>
          <p class="bounce-up animation-element">Download the Round Fund application on your mobile and and follow the simple prompts to get started.
            No lengthy forms to fill up on initial registration, just your mobile number and password are enough to get started.</p>

          <div class="app-store-links bounce-up animation-element">
            <a href="#" class="apple-app-store-link">
              <i class="bi bi-apple"></i>
            </a>
            <a href="#" class="google-playstore-link">
              <i class="bi bi-android2"></i>
            </a>
            <p>Get the App</p>
          </div>
        </div>
        <div class="grid-box box-two bounce-up animation-element">
          <img src="images/slanted.png" alt="thumbnail">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card card-a">
          <p class="bounce-up animation-element">Save money on every transaction when accepting payment in RoundMoney</p>

          <div class="info-card text-center blue-bg bounce-up animation-element">
            <img src="images/save-money.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-b">
          <p class="bounce-up animation-element">Issue all rewards in Round and become part of our Decentralised Backstop™</p>

          <div class="info-card text-center bounce-up animation-element">
            <img src="images/reward.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-a">
          <p class="bounce-up animation-element">Gather insight from data driven output you can rely on</p>

          <div class="info-card text-center blue-bg bounce-up animation-element">
            <img src="images/analysis.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
