<section id="hero-section" class="individuals">
  <div class="container">
    <div class="hero-grid">
      <div class="col-a">
        <h3 class="section-title">Empowering Communities through Collective Financial Growth</h3>
        <p>Zano emerges from a profound recognition of the potential to uplift communities.
          By harnessing the power of collective savings and rewarding integrity, we are dedicated to improving the
          quality of life for millions involved in various saving schemes, such as burial societies, community saving
          groups, and property funds.</p>
      </div>
      <div class="col-b">
        <img src="images/payment.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-padding mid-section">
  <div class="container">
    <h3 class="section-title text-center">Empowering Millions through Innovation</h3>
    <p class="text-center mx-auto mb-5 ">Cooperatives are for building solidarity economies based on community and trust. Switching your pool of savings to Zano brings a solid and secure system to your savings.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="zano-money-card">
          <h3 class="section-title ">Solidarity</h3>
          <p class="">No bank charges, good interest, no centralized controls. It is our Money.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="zano-money-card">
          <h3 class="section-title ">Financial Inclusion</h3>
          <p class="">Your integrity is your collateral. Your integrity points gained through
            your loyalty to others and honoring your repayments to others across
            cooperatives determine your access to finance.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="zano-money-card">
          <h3 class="section-title">Wealth Creation</h3>
          <p class="">You control your money through Zano. Financial decision making is yours. You determine your wealth creation streams.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="open-account">
  <div class="container">
    <div class="col-md-12">
      <div class="open-account-card home-page">
        <div class="grid-box p-4 text-start">
          <h3 class="section-title text-white">Accept Zano and gain access to new customers</h3>
          <p class="text-white">Accept Zano on your phone, on a Zano terminal,
            or you may already be connected through one of a growing number of participating financial institutions.</p>

          <div class="app-store-links border-white">
            <a href="https://apps.apple.com/app/zano-money/id6737687998" target="_blank" class="apple-app-store-link">
              <i class="bi bi-apple"></i>
            </a>
            <a href="https://play.google.com/store/apps/details?id=zano.money.app" target="_blank" class="google-playstore-link">
              <i class="bi bi-android2"></i>
            </a>
            <p class="text-white">Get the App</p>
          </div>
        </div>
        <div class="grid-box box-two ">
          <img src="images/slant.png" alt="thumbnail">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding bg-white mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group list-group-flush mt-lg-5">
          <li class="list-group-item d-flex gap-3">
           <span class="py-3">
             <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#512efd">
               <path d="M520-120v-80h184L520-384v-112l240 240v-184h80v320H520ZM240-280v-40H120v-80h240v-120H200q-33 0-56.5-23.5T120-600v-120q0-33 23.5-56.5T200-800h40v-40h80v40h120v80H200v120h160q33 0 56.5 23.5T440-520v120q0 33-23.5 56.5T360-320h-40v40h-80Z"/>
             </svg>
           </span>
            <h3 class="">Save money on every transaction when accepting payment in Zano</h3>
          </li>
          <li class="list-group-item d-flex gap-3">
           <span class="py-3">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#512efd">
                <path d="M480-160q75 0 127.5-52.5T660-340q0-75-52.5-127.5T480-520q-75 0-127.5 52.5T300-340q0 75 52.5 127.5T480-160ZM363-572q20-11 42.5-17.5T451-598L350-800H250l113 228Zm234 0 114-228H610l-85 170 19 38q14 4 27 8.5t26 11.5ZM256-208q-17-29-26.5-62.5T220-340q0-36 9.5-69.5T256-472q-42 14-69 49.5T160-340q0 47 27 82.5t69 49.5Zm448 0q42-14 69-49.5t27-82.5q0-47-27-82.5T704-472q17 29 26.5 62.5T740-340q0 36-9.5 69.5T704-208ZM480-80q-40 0-76.5-11.5T336-123q-9 2-18 2.5t-19 .5q-91 0-155-64T80-339q0-87 58-149t143-69L120-880h280l80 160 80-160h280L680-559q85 8 142.5 70T880-340q0 92-64 156t-156 64q-9 0-18.5-.5T623-123q-31 20-67 31.5T480-80Zm0-260ZM363-572 250-800l113 228Zm234 0 114-228-114 228ZM406-230l28-91-74-53h91l29-96 29 96h91l-74 53 28 91-74-56-74 56Z"/>
              </svg>
           </span>
            <h3>Issue all rewards in Zano and become part of our Decentralised Backstop™</h3>
          </li>
          <li class="list-group-item d-flex gap-3">
           <span class="py-1">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#512efd">
                <path d="M480-120q-151 0-255.5-46.5T120-280v-400q0-66 105.5-113T480-840q149 0 254.5 47T840-680v400q0 67-104.5 113.5T480-120Zm0-479q89 0 179-25.5T760-679q-11-29-100.5-55T480-760q-91 0-178.5 25.5T200-679q14 30 101.5 55T480-599Zm0 199q42 0 81-4t74.5-11.5q35.5-7.5 67-18.5t57.5-25v-120q-26 14-57.5 25t-67 18.5Q600-528 561-524t-81 4q-42 0-82-4t-75.5-11.5Q287-543 256-554t-56-25v120q25 14 56 25t66.5 18.5Q358-408 398-404t82 4Zm0 200q46 0 93.5-7t87.5-18.5q40-11.5 67-26t32-29.5v-98q-26 14-57.5 25t-67 18.5Q600-328 561-324t-81 4q-42 0-82-4t-75.5-11.5Q287-343 256-354t-56-25v99q5 15 31.5 29t66.5 25.5q40 11.5 88 18.5t94 7Z"/>
              </svg>
           </span>
            <h3>Gather insight from data driven output you can rely on.</h3>
          </li>

        </ul>
      </div>
      <div class="col-md-6">
        <div class="text-sm-start individuals-image-box">
          <img src="images/layers.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
