<section id="hero" class="py-0">
  <div class="container">
    <div class="grid-box">
      <h1 class="animation-element bounce-up">The future of money is solidarity.</h1>
      <p class="my-4 animation-element bounce-up">Round® brings the convenience of USD change and eliminates the cost of refunds and rewards for retailers.</p>

      <div class="app-store-links bounce-up animation-element">
        <a href="#" class="apple-app-store-link">
          <i class="bi bi-apple"></i>
        </a>
        <a href="#" class="google-playstore-link">
          <i class="bi bi-android2"></i>
        </a>
        <p>Get the App</p>
      </div>

      <div class="hero-img">
        <img src="images/hero.png" alt="" class="animation-element bounce-up">


        <!--              Card -->
        <div class="debit-card animation-element bounce-up">
          <header>
                    <span class="logo">
                      <img src="images/logo.png" alt="" />
                      <h5>Round Money</h5>
                    </span>
            <img src="images/chip.png" alt="" class="chip" />
          </header>
          <div class="card-details">
            <div class="name-number">
              <h6>Account Number</h6>
              <h5 class="number">0784 123 456</h5>
              <h5 class="name">Jane Doe</h5>
            </div>
            <div class="valid-date">
              <h6>Valid Thru</h6>
              <h5>05/28</h5>
            </div>
          </div>
        </div>
        <!--              Card -->
      </div>
    </div>
  </div>
</section>
<section id="nuggets">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="nugget-box bounce-up animation-element">
          <div class="nugget-icon">
            <i class="bi bi-arrow-up-right"></i>
          </div>
          <div class="">
            <h4>Send</h4>
            <p>Send & receive money to your loved ones in seconds.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="nugget-box bounce-up animation-element">
          <div class="nugget-icon">
            <i class="bi bi-arrow-up"></i>
          </div>
          <div class="">
            <h4>Spend</h4>
            <p>A virtual wallet that fits your online lifestyles.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="nugget-box bounce-up animation-element">
          <div class="nugget-icon">
            <i class="bi bi-currency-dollar"></i>
          </div>
          <div class="">
            <h4>Save</h4>
            <p>Avoid unwanted expenditure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="open-account">
  <div class="container">
    <div class="col-md-6 mx-auto">
      <h4 class="ms-0 bounce-up animation-element">Open an account with us today and enjoy the convenience of out innovation.</h4>
    </div>
    <div class="col-md-12">
      <div class="open-account-card home-page">
        <div class="grid-box p-4 text-start">
          <h3 class="section-title text-white bounce-up animation-element">OPEN A USD ACCOUNT FOR FREE</h3>
          <p class="bounce-up animation-element">Download the Round Fund application on your mobile and and follow the simple prompts to get started.
            No lengthy forms to fill up on initial registration, just your mobile number and password are enough to get started.</p>

          <div class="app-store-links bounce-up animation-element">
            <a href="#" class="apple-app-store-link">
              <i class="bi bi-apple"></i>
            </a>
            <a href="#" class="google-playstore-link">
              <i class="bi bi-android2"></i>
            </a>
            <p>Get the App</p>
          </div>
        </div>
        <div class="grid-box box-two bounce-up animation-element">
          <img src="images/slanted.png" alt="thumbnail">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="send-money-card card-a">
          <h3 class="section-title bounce-up animation-element">Send cash to family & friends</h3>
          <p class="bounce-up animation-element">You can transfer money to you family and friends who are also registered on our app and they will instantly receive it.</p>

          <div class="info-card text-center">
            <h4 class="bounce-up animation-element">Transfer</h4>
            <div class="avatars bounce-up animation-element">
              <div class="avatar-box"><img src="images/user-a.jpg" alt=""></div>
              <div class="avatar-box"><img src="images/user-b.jpg" alt=""></div>
              <div class="avatar-box"><img src="images/user-c.jpg" alt=""></div>
            </div>
            <h3 class="section-title bounce-up animation-element">$40.00</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="send-money-card card-b">
          <h3 class="section-title bounce-up animation-element">Fund your wallet with ease.</h3>
          <p class="bounce-up animation-element">Top-up your Round Fund wallet with ease, at any of our selected outlets.</p>

          <div class="info-card card-b text-center">
            <h4 class="bounce-up animation-element">Receive</h4>
            <div class="avatars bounce-up animation-element">
              <div class="avatar-box"><img src="images/user-a.jpg" alt=""></div>
            </div>
            <h3 class="section-title bounce-up animation-element">$10.00</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="grid-box-sm">
          <div class="feature-img">
            <img src="images/individuals.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 text-start">
        <div class="grid-box-text">
          <h3 class="section-title bounce-up animation-element">Receive coupons straight on your phone.</h3>
          <p class="bounce-up animation-element">No need to worry about losing your coupons anymore. Just receive your coupons straight in you Round account.
            Redeem them anywhere where they are accepted or share with your loved ones who are registered on Round.</p>
          <div class="app-store-links ms-0 bounce-up animation-element">
            <a href="#" class="apple-app-store-link">
              <i class="bi bi-apple"></i>
            </a>
            <a href="#" class="google-playstore-link">
              <i class="bi bi-android2"></i>
            </a>
            <p>Get the App</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-start">
        <div class="grid-box-text">
          <h3 class="section-title bounce-up animation-element">Make payments using Round App</h3>
          <p class="bounce-up animation-element">Pay for goods and services using Round Money at all our registered outlets.</p>
          <div class="app-store-links ms-0 bounce-up animation-element">
            <a href="#" class="apple-app-store-link">
              <i class="bi bi-apple"></i>
            </a>
            <a href="#" class="google-playstore-link">
              <i class="bi bi-android2"></i>
            </a>
            <p>Get the App</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="grid-box-sm box-b bounce-up animation-element">
          <div class="feature-img">
            <img src="images/pos.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="get-the-app">
  <div class="container">
    <div class="col-md-6 mx-auto">
      <h3 class="section-title bounce-up animation-element">Get the app today and experience the convenience.</h3>

      <div class="appstore-links bounce-up animation-element">
        <a href="#" class="app-store-button">
          <img src="images/appstore.png" alt="">
        </a>
        <a href="#" class="app-store-button">
          <img src="images/playstore.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
