<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img [src]="['images/logo.png']" alt="logo">
    </a>
    <button class="navbar-toggler" (click)="toggleCanvasMenu()">
      <span class="bi bi-list"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">Ecosystem
            <ul class="dropdown-menu">
              <li>
                <a [routerLink]="['/merchants']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">Merchants</a>
              </li>
              <li>
                <a [routerLink]="['/individuals']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">Individuals</a>
              </li>
              <li>
                <a [routerLink]="['/cooperatives']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">Cooperatives</a>
              </li>
              <li>
                <a [routerLink]="['/card-issuers']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">Card Issuers</a>
              </li>
              <li>
                <a [routerLink]="['/governments']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">Governments</a>
              </li>
            </ul>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/impact']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Impact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
        </li>
        <li class="nav-item account-nav-link">
          <a class="nav-link account-link">Merchants</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="canvas-menu d-flex align-items-end flex-column" [class.open]="isCanvasMenuOpen">
  <button class="btn-cloze" aria-label="close" type="button" (click)="toggleCanvasMenu()">
    <i class="bi bi-x-lg"></i>
  </button>

  <div class="logo">
    <img [src]="['images/zano-circle-logo.png']" alt="logo" width="60">
  </div>
  <nav>
    <ul class="vertical-menu">
      <li class=""><a [routerLink]="['/home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="" (click)="closeCanvasMenu()">Home</a></li>
      <li *ngFor="let item of menuItems; let i = index" [class.openmenu]="openSubmenuIndex === i">
        <a href="#" class="">{{ item.title }}</a>
        <span class="switch" (click)="toggleSubmenu(i)">
          <i class="bi bi-chevron-down"></i>
        </span>
        <ul class="submenu" *ngIf="item.submenu.length > 0" [style.display]="openSubmenuIndex === i ? 'block' : 'none'">
          <li class="" *ngFor="let subItem of item.submenu">
            <a [routerLink]="subItem.url" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" (click)="closeCanvasMenu()">{{ subItem.title }}</a>
          </li>
        </ul>
      </li>
      <li class=""><a [routerLink]="['/impact']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="" (click)="closeCanvasMenu()">Impact</a></li>
      <li class=""><a [routerLink]="['/contact']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="" (click)="closeCanvasMenu()">Contact</a></li>
    </ul>
  </nav>

  <ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100 d-flex gap-3">
    <li class="list-inline-item">
      <a href="#">
        <span><i class="bi bi-facebook"></i></span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" target="_blank">
        <span><i class="bi bi-twitter"></i>
        </span></a>
    </li>
    <li class="list-inline-item">
      <a href="#" target="_blank">
        <span><i class="bi bi-linkedin"></i></span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" target="_blank">
        <span><i class="bi bi-instagram"></i></span>
      </a>
    </li>
  </ul>
</div>
