<section id="hero-section" class="">
  <div class="container">
    <div class="hero-grid">
      <div class="col-a">
        <h3 class="section-title">Zano® unlocks trapped capital in your reward programme and supply chain.</h3>
        <p>As Zano grows in utility at businesses around the world, Zano serves as a secure,
          transparent and cost effective network through which individuals and organisations can distribute help to others.</p>
      </div>
      <div class="col-b">
        <img src="images/layers.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="grid-box-text">
        <h3 class="section-title ">Belief</h3>
        <p class="">We believe that now is the time to reimagine money,
          to democratize financial services, so that managing and moving money is a right for all citizens, not just the affluent. </p>
        <p class="">We believe every person has the right to
          participate fully in the global economy. We have an obligation to empower people to exercise this right and improve financial health. </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="grid-box-sm box-b ">
          <div class="feature-img">
            <img src="images/decentraslize.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="grid-box-sm">
          <div class="feature-img">
            <img src="images/collabo.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 text-start">
        <div class="grid-box-text">
          <h3 class="section-title ">Collaboration</h3>
          <p class="">Create amazing experiences for our customers – whether merchant, consumer or the Zano community.
            Think differently, look end-to-end and practice empathy by putting yourself in our customers’ shoes.</p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="grid-box-text">
          <h3 class="section-title ">Innovation</h3>
          <p class="">Create amazing experiences for our customers – whether merchant,
            consumer or the Zano community. Think differently, look end-to-end and practice empathy by putting
            yourself in our customers’ shoes.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="grid-box-sm box-b ">
          <div class="feature-img">
            <img src="images/innovation.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="grid-box-sm ">
          <div class="feature-img">
            <img src="images/inclusion.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="grid-box-text">
          <h3 class="section-title ">Inclusion</h3>
          <p class="">Respect and value uniqueness and diversity of thought. We’re talking everyone, everywhere,
            at all times, regardless of background, level or circumstance. Ideas are richer and execution is stronger when every- one feels included.  </p>
        </div>
      </div>
    </div>
  </div>
</section>
