<section id="hero-section" class="bg-white" style="margin-top: 5rem;">
  <div class="container">
    <div class="hero-grid">
      <div class="col-a">
        <h3 class="section-title">Round for Card Issuers and Wallets</h3>
        <p>When you opt to reward your cardholders with RoundMoney instead of cashback or points, you’ll increase engagement exponentially.</p>
      </div>
      <div class="col-b">
        <img src="images/layers.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="section-padding mid-section">
  <div class="container">
    <h3 class="section-title text-center">Financial Benefits</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card">
          <h3 class="section-title">Bank Funded</h3>
          <p class="">RoundMoney is 80% cheaper than existing reward programmes, breakage can be retained, and contingent liabilities eradicated.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card">
          <h3 class="section-title ">Merchant Funded</h3>
          <p class="">RoundMoney also saves 80% for merchants on their existing reward programmes, resulting in many more partners joining.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card">
          <h3 class="section-title ">Burn</h3>
          <p class="">RoundMoney is earned instantly by your cardholders and can be redeemed instantly instore or online at 1000’s of businesses.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="section-title">RoundMoney is more rewarding than points and cashback</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex gap-3">
           <span class="py-1">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#512efd">
              <path d="M880-720v480q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720Zm-720 80h640v-80H160v80Zm0 160v240h640v-240H160Zm0 240v-480 480Z"/>
            </svg>
           </span>
            <h3 class="">Cardholders earn payment card and wallet linked RoundMoney either funded by Banks or by Merchants</h3>
          </li>
          <li class="list-group-item d-flex gap-3">
           <span class="py-1">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#512efd">
                <path d="M240-170Q136-197 68-282T0-480q0-113 68-198t172-112v84q-71 24-115.5 86T80-480q0 78 44.5 140T240-254v84Zm320 10q-133 0-226.5-93.5T240-480q0-133 93.5-226.5T560-800q66 0 124 25t102 69l-56 56q-33-33-76.5-51.5T560-720q-100 0-170 70t-70 170q0 100 70 170t170 70q50 0 93.5-18.5T730-310l56 56q-44 44-102 69t-124 25Zm240-160-56-56 64-64H520v-80h288l-64-64 56-56 160 160-160 160Z"/>
              </svg>
           </span>
            <h3>RoundMoney can be instantly sent to other participants, or redeemed instore or online.</h3>
          </li>
          <li class="list-group-item d-flex gap-3">
           <span class="py-1">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#512efd">
                <path d="M240-40v-329L110-580l185-300h370l185 300-130 211v329l-240-80-240 80Zm80-111 160-53 160 53v-129H320v129Zm20-649L204-580l136 220h280l136-220-136-220H340Zm98 383L296-558l57-57 85 85 169-170 57 56-226 227ZM320-280h320-320Z"/>
              </svg>
           </span>
            <h3>Existing reward currency liabilities can be removed from balance sheets and converted to RoundMoney</h3>
          </li>

        </ul>
      </div>
      <div class="col-md-6">
        <div class="text-sm-start individuals-image-box">
          <img src="images/governance.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-sm-start individuals-image-box">
          <img src="images/payment.png" alt="" style="height: 100%; object-fit: contain;">
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="section-title">Core APIs, Branded Apps, Websites or Full Service Loyalty</h3>
        <p>Round can introduce you to world class reward partners, all naturally PCI level 1 compliant,
          GDPR compliant and fiercely focused on your needs</p>
      </div>
    </div>
  </div>
</section>

