<section id="hero-section" class="individuals">
  <div class="grid-box">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>&nbsp;
        <li class="breadcrumb-item active" aria-current="page">Card Issuers</li>
      </ol>
    </nav>
    <h3 class="section-title">Round for Card Issuers and Wallets</h3>
    <p class="text-center">When you opt to reward your cardholders with RoundMoney instead of cashback or points, you’ll increase engagement exponentially</p>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h3 class="section-title text-center">Financial Benefits</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title">Bank Funded</h3>
          <p>RoundMoney is 80% cheaper than existing reward programmes, breakage can be retained, and contingent liabilities eradicated.</p>

          <div class="info-card text-center blue-bg">
            <h3 class="section-title">01</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-b">
          <h3 class="section-title">Merchant Funded</h3>
          <p>RoundMoney also saves 80% for merchants on their existing reward programmes, resulting in many more partners joining.</p>

          <div class="info-card text-center grey-bg">
            <h3 class="section-title">02</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title">Burn</h3>
          <p>RoundMoney is earned instantly by your cardholders and can be redeemed instantly instore or online at 1000’s of businesses.</p>

          <div class="info-card text-center blue-bg">
            <h3 class="section-title">03</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h3 class="section-title text-center mb-5">RoundMoney is more rewarding than points and cashback</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card card-a">
          <p>Cardholders earn payment card and wallet linked RoundMoney either funded by Banks or by Merchants</p>

          <div class="info-card text-center blue-bg">
            <img src="images/save-money.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-b">
          <p>RoundMoney can be instantly sent to other participants, or redeemed instore or online.</p>

          <div class="info-card text-center">
            <img src="images/send-money.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-a">
          <p>Existing reward currency liabilities can be removed from balance sheets and converted to RoundMoney</p>

          <div class="info-card text-center blue-bg">
            <img src="images/exchange.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="open-account">
  <div class="container">
    <div class="col-md-12">
      <div class="open-account-card">
        <div class="grid-box p-4 text-start">
          <h3 class="section-title ms-4 text-white">Core APIs, Branded Apps, Websites or Full Service Loyalty</h3>
          <p>Round can introduce you to world class reward partners, all naturally PCI level 1 compliant, GDPR compliant and fiercely focused on your needs</p>

          <div class="app-store-links">
            <a href="#" class="apple-app-store-link">
              <i class="bi bi-apple"></i>
            </a>
            <a href="#" class="google-playstore-link">
              <i class="bi bi-android2"></i>
            </a>
            <p>Get the App</p>
          </div>
        </div>
        <div class="grid-box box-two">
          <img src="images/slanted.png" alt="thumbnail">
        </div>
      </div>
    </div>
  </div>
</section>

