<section id="hero-section" class="individuals">
  <div class="grid-box px-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>&nbsp;
        <li class="breadcrumb-item active" aria-current="page">Cooperatives</li>
      </ol>
    </nav>
    <h3 class="section-title">Empowering Communities through Collective Financial Growth</h3>
    <p class="text-center">Round emerges from a profound recognition of the potential
      to uplift communities. By harnessing the power of collective savings and rewarding integrity,
      we are dedicated to improving the quality of life for millions involved in various saving schemes,
      such as burial societies, community saving groups, and property funds.</p>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h3 class="section-title text-center">Empowering Millions through Innovation</h3>
    <p class="text-center mx-auto my-4">Cooperatives are for building solidarity economies based on community and trust.
      Switching your pool of savings to RoundMoney brings a solid and secure system to your savings.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title">Solidarity</h3>
          <p>No bank charges, good interest, no centralized controls. It is our Money.</p>

          <div class="info-card text-center blue-bg">
            <h3 class="section-title">01</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-b">
          <h3 class="section-title">Financial Inclusion</h3>
          <p>Your integrity is your collateral. Your integrity points gained through your loyalty to others and honoring your repayments to others across cooperatives determine your access to finance.</p>

          <div class="info-card text-center grey-bg">
            <h3 class="section-title">02</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title">Wealth Creation</h3>
          <p>You control your money through RoundMoney. Financial decision making is yours. You determine your wealth creation streams.</p>

          <div class="info-card text-center blue-bg">
            <h3 class="section-title">03</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="open-account">
  <div class="container">
    <div class="col-md-12">
      <div class="open-account-card">
        <div class="grid-box p-4 text-start">
          <h3 class="section-title ms-4 text-white">Building back the Peoples Bank $10 at a time.</h3>
          <p>The People’s Round is a call to action for all of us to invest in small black owned businesses.
            Basically we all contribute $10 a month.
            There is a joining fee of $150. The contributions will then be used to fund purchase
            orders of members of The People’s Round at a fee of 6% of purchase order value.</p>

          <div class="app-store-links">
            <a href="#" class="apple-app-store-link">
              <i class="bi bi-apple"></i>
            </a>
            <a href="#" class="google-playstore-link">
              <i class="bi bi-android2"></i>
            </a>
            <p>Get the App</p>
          </div>
        </div>
        <div class="grid-box box-two">
          <img src="images/slanted.png" alt="thumbnail">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card card-a">
          <p>Save money on every transaction when accepting payment in RoundMoney</p>

          <div class="info-card text-center blue-bg">
            <img src="images/save-money.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-b">
          <p>Issue all rewards in Round and become part of our Decentralised Backstop™</p>

          <div class="info-card text-center">
            <img src="images/reward.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-a">
          <p>Gather insight from data driven output you can rely on</p>

          <div class="info-card text-center blue-bg">
            <img src="images/analysis.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
