<section id="hero-section" class="individuals">
  <div class="grid-box p-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/src/app/pages/public">Home</a></li>&nbsp;
        <li class="breadcrumb-item active" aria-current="page">Individuals</li>
      </ol>
    </nav>
    <h3 class="section-title">Round for everyone</h3>
    <p class="text-center">When you opt for RoundMoney as your digital currency of choice, you’ll change the world with every transaction you make.</p>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h3 class="section-title text-center">Freedom</h3>
    <p class="text-center mx-auto my-4">No bank, social media giant or central entity controls RoundMoney. It is our money!</p>
    <div class="row">
      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title">Solidarity</h3>
          <p>Your personal information will always remain private and under your control.</p>

          <div class="info-card text-center blue-bg">
            <h3 class="section-title">01</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-b">
          <h3 class="section-title">Private</h3>
          <p>Earn RoundMoney with every purchase and help build a decentralized ecosystem.</p>

          <div class="info-card text-center grey-bg">
            <h3 class="section-title">02</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="round-money-card card-a">
          <h3 class="section-title">Change</h3>
          <p>You control your money through RoundMoney. Financial decision making is yours. You determine your wealth creation streams.</p>

          <div class="info-card text-center blue-bg">
            <h3 class="section-title">03</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="col-md-10 mx-auto">
      <div class="accordion accordion-flush" id="accordionFlushRoundMoney">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <img src="images/heart.png" alt="">
              Loyalty Program
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushRoundMoney">
            <div class="accordion-body">Earn automatic RoundMoney in every connected loyalty programme</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <img src="images/money.png" alt="">
              Pay using Round Money
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushRoundMoney">
            <div class="accordion-body">Claim goods and services at any Round business with RoundMoney</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <img src="images/exchange.png" alt="">
              Convert Points
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushRoundMoney">
            <div class="accordion-body">Convert supported reward points and crypto to RoundMoney at any time</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
              <img src="images/send-money.png" alt="">
              Send RoundMoney
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushRoundMoney">
            <div class="accordion-body">Send RoundMoney to friends and family instantly and with no additional
              fees in all connected apps. Move RoundMoney between reward programme managed wallets and your
              independent Round Wallet at any time.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
